# 使用root用户运行nginx，否则访问不了其它用户所属文件
user  root;
worker_processes  1;
# 错误日志目录
error_log  logs/error.log;
#error_log  logs/error.log  notice;
error_log  logs/error.log  info;

# 父进程ID
#pid        logs/nginx.pid;


events {
    # 最大客户端连接数
    worker_connections  1024;
}

# http配置
http {
    include       mime.types;
    # 二进制数据流
    default_type  application/octet-stream;

    # 访问日志格式
    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    # gzip 压缩 配置
    gzip  on;
    gzip_disable "msie6"
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    # 压缩临界值
    gzip_min_length 100;
    gzip_types text/plain application/javascript application/x-javascript text/css application/xml txt/javascript image/jpeg image/gif
               image/png image/jpg;


    server {
        listen       80;
        server_name  localhost;
        # http 强制跳转 https
        # rewrite ^(.*)$ https://$host$1 permanent;
        #charset koi8-r;

        #error_page  404              /404.html;

        # 错误页面 web服务器宕机后出现的页面
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # 根目录配置
        location / {
            root    /www/web;
            index   index.html;
            try_files   $uri $uri/ /index.html;
        }

        # 开启nginx目录浏览功能（有密码限制）详细看 nginx.md
        location /file {
            autoindex   on;
            # 中文，避免乱码
            charset utf8,gbk;
            # 显示文件修改时间为服务器本地时间
            autoindex_localtime on;
            alias   /home/iszhangsc/project;
            auth_basic  "Please input password!";
            # 访问密码文件
            auth_basic_user_file    /usr/local/nginx/passwd;
        }

    }

    # HTTPS 配置
    server {
        # https 端口为443
        listen       443 ssl;
        # 域名
        server_name  iszhangsc.top;
        # VUE项目 目录
        root	/www/html/dist/;
        # 默认 页面
        index index.html index.html;
        # SSL证书
        ssl_certificate      /usr/local/nginx/conf/1743232_iszhangsc.top.pem;
        # SSL证书密钥
        ssl_certificate_key  /usr/local/nginx/conf/1743232_iszhangsc.top.key;

        # ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  5m;
        # 指定使用的SSL协议
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers  ECDHE-RSA-AES128-GCM-SHA256:HIGH:!aNULL:!MD5:!RC4:!DHE;
        ssl_prefer_server_ciphers  on;


        # 反向代理图片配置
        location ~ .*\.(gif|jpg|jpeg|png)$ {
            expires 24h;
            root /www/images/;#指定图片存放路径
            proxy_store on;
            proxy_store_access user:rw group:rw all:rw;
            proxy_temp_path         /www/images/;#图片访问路径
            proxy_redirect          off;
            proxy_set_header        Host 127.0.0.1;
            client_max_body_size    10m;
            client_body_buffer_size 1280k;
            proxy_connect_timeout   900;
            proxy_send_timeout      900;
            proxy_read_timeout      900;
            proxy_buffer_size       40k;
            proxy_buffers           40 320k;
            proxy_busy_buffers_size 640k;
            proxy_temp_file_write_size 640k;
            if ( !-e $request_filename)
            {
                proxy_pass  http://127.0.0.1;#默认80端口
            }
        }

        # fadfs https 访问(需要安装fastDFS，详细看nginx.md)
        location ~/group([0-9])/M00 {
            # alias /usr/local/fastDFS/storage/data;
            ngx_fastdfs_module;
        }

        # Restfull API '/api/'为请求前缀
        location /api/ {
            proxy_redirect	off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X_Forwarded-For $proxy_add_x_forwarded_for;
            # 应用服务器代理(tomcat)
            proxy_pass	http://127.0.0.1:8080;
        }

    }

}
